div {
  &.code_cell {
    padding: 0;
    border: 0;
  }
  &.output_area {
    .rendered_html img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .output_subarea {
      width: 100%;
      max-width: 100%;
      &.output_execute_result {
        display: none;
      }
    }
    .rendered_html table {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &.output_png img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.rendered_html code,
kbd,
pre,
samp,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
span {
  color: #434447;
  /*color: red;*/
}

.rendered_html code,
kbd,
pre,
samp {
  font-family: 'Courier New';
  font-size: 13px;
  background-color: #ffffff;
  border: 0;
}

.rendered_html p,
li {
  font-family: 'Georgia';
  font-size: 13px;
  text-align: justify;
  margin-top: 1em;
  margin-bottom: 1em;
}

.rendered_html {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 30px;
  }
  h1 {
    font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#signature p {
  font-size: 14px;
  font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.email {
  color: #003580;
}

#notebook-container {
  padding: 15px;
  background-color: #fff;
  min-height: 0;
  box-shadow: none;
}

div {
  &#notebook {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  &.cell {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
  }
  &.input_prompt,
  &.output_prompt {
    margin-left: -11ex;
  }
  &.input,
  &.output_wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  &.text_cell {
    margin-top: -2px;
    margin-bottom: -2px;
    padding-top: 2px;
    padding-bottom: 2px;
    // border-left:2px solid #505050;
    border-collapse: collapse;
    border-top: none;
    border-bottom: none;
  }
}
